@import "base/normalize";
@import "base/variables";
@import "base/button";
@import "base/animation";
@import "base/global";
body{
    background-color: $globalBgColor;
    font-family: -apple-system,"Helvetica Neue","Roboto","Arial","PingFang SC",sans-serif;
    font-size: 14PX;
}
h1, h2, h3, h4, h5, div, p{
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}
.layout{
    max-width: $globalPcWidth;
    margin: 0px auto;
}
a{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.clearfix{
    &:after{
        content: '';
        display: block;


        height: 0px;
        clear: both;
    }
}

.body-detail{
    .global {
        &Header {
            position: fixed;
            background-color: rgba(0, 0, 0, .3);
            background-image: none;
            z-index: 10;
        }
    }
}

@import "pages/home";
@import "pages/page";
@import "pages/detail";
@import "components/articleItem";
@import "components/projectItem";
@import "components/classifyItem";
@import "components/demoItem";
@import "components/code";