@import "base/normalize";
@import "base/variables";
@import "base/button";
@import "base/animation";
@import "base/global";
html{
    overflow-y: scroll;
}
body{
    background-color: $globalBgColor;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14PX;
}
h1, h2, h3, h4, h5, div, p, ul{
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}
blockquote{
    padding: 5px 10px 5px 12px;
    color: #646464;
    border-left: 3px solid #d3d3d3;
    background-color: #f5f5f5;
    margin: 10px 0px;
}
.layout{
    max-width: $globalPcWidth;
    margin: 0px auto;
}
a{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.clearfix{
    &:after{
        content: '';
        display: block;


        height: 0px;
        clear: both;
    }
}

.body-detail{
    .global {
        &Header {
            position: fixed;
            opacity: .3;
            z-index: 10;
        }
    }
}

@media screen and (max-width: 768px) {
    .body-detail {
        .global {
            &Header {
                opacity: 1 !important;
            }
        }
    }
}

@import "pages/home";
@import "pages/page";
@import "pages/detail";
@import "components/articleItem";
@import "components/projectItem";
@import "components/classifyItem";
@import "components/demoItem";
@import "components/code";