@keyframes slideInUp {
    0%{
        opacity: 1;
        transform: translate3d(00px, 50px, 0px);
    }
    100%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.fadeOut{
    &-exit{
        opacity: 1;
        &-active{
            opacity: 0;
            transition: opacity .5s ease-out;
        }
    }
}

@keyframes backgroundMove {
    0%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 50% 100%;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}