/**
 * 基础样式变量
 * 用于定于全局基础颜色、基础size
 */
// 全局宽度
$globalPcWidth: 1096px;
$globalMobileWidth: 750px;
$globalBgColor: #fff;
$globalBorderColor: #eeefef;

// 颜色
$colorWhite: #fff;
$colorWhiteHover: rgba(255, 255, 255, .05);
$colorWhiteActive: rgba(255, 255, 255, .15);
$colorBlack: #000;
$colorBlackHover: rgba(0, 0, 0, .05);
$colorBlackActive: rgba(0, 0, 0, .15);
$colorBlackLite: #333;
$colorGray: #565a5c;
$colorGrayLite: #999;
$colorPrimary: rgb(0, 132, 137);
$colorPrimaryDark: rgb(0, 105, 109);
$colorPrimaryHover: rgba(0, 132, 137, .05);
$colorPrimaryActive: rgba(0, 132, 137, .15);
$colorOrange: rgba(249,217,66,.4);
$colorGreen: #44883e;
$colorSkeleton: #f1f1f1;
$colorSkeletonDark: #eee;
$colorBlue: #1f73f3;
// 大小
$sizeXS: 12px;
$sizeS: 14px;
$sizeM: 16px;
$sizeL: 24px;
$sizeXL: 32px;
$paddingSize: 16px;
$paddingSizeHalf: 8px;