.articleList{

}

.articleItem{
    width: 33.33333336%;
    padding: 0px $paddingSizeHalf;
    text-decoration: none;
    box-sizing: border-box;
    float: left;
    &:hover{
        .articleItem{
            &-photo{
                filter: none;
            }
            &-title{
                color: $colorBlack;
            }
        }
    }
    &-photo{
        overflow: hidden;
        padding-bottom: 70%;
        position: relative;
        background-size: cover;
        background-position: center;
        transition: .2s ease;
        border-radius: 3px;
    }
    &-title{
        margin-top: 10px;
        color: $colorBlack;
        font-size: 16px;
        font-weight: 800;
    }
    &-description{
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.3;
        color: $colorBlack;
    }

    &Skeleton{
        width: 33.33333336%;
        padding: 0px $paddingSizeHalf;
        box-sizing: border-box;
        float: left;
        &-photo{
            padding-bottom: 70%;
            background-color: $colorSkeleton;
            border-radius: 3px;
        }
        &-title{
            margin-top: 10px;
            width: 50%;
            height: 24px;
            background-color: $colorSkeleton;
        }
        &-description{
            margin-top: 10px;
            span{
                display: block;
                background-color: $colorSkeleton;
                margin-top: 3px;
                height: 14px;
                &:last-child{
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .articleItem{
        width: 50%;
        &-photo{
            padding-bottom: 80%;
        }
        &-title{
            font-size: 14px;
            margin-top: 5px;
        }
        &-description{
            margin-top: 5px;
            font-size:12px;
        }
        &Skeleton{
            width: 50%;
        }
    }
}