.classifyItem{
    display: inline-block;
    background-color: $colorWhite;
    margin-right: 10px;
    width: 150px;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    &:hover{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &-name{
        font-size: 18px;
        color: rgb(72, 72, 72);
        font-weight: 700;
        display: block;
    }
    &-total{
        margin-top: 5px;
        color: rgb(118, 118, 118);
        display: block;
        font-size: 14px;
    }
    &--active{
        background-color: $colorGreen;
        color: $colorWhite;
        box-shadow: none;
        .classifyItem{
            &-name{
                color: #ffffff;
            }
            &-total{
                color: #f5f5f5;
            }
        }
    }
    &Skeleton{
        display: inline-block;
        width: 150px;
        height: 72px;
        background-color: $colorSkeleton;
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .classifyItem{
        width: auto;
        padding: 10px 24px;
        &-name{
            font-weight: normal;
        }
        &-total{
            font-size: 12px;
            margin-top: 5px;
        }
    }
}