.projectItem{
    background-color: #fcfbf9;
    padding: 0px 20px;
    &-wrapper{
        width: 50%;
        float: left;
        padding: 0px 8px;
        box-sizing: border-box;
        margin-bottom: 16px;
    }
    &-title{
        font-size: 16px;
        font-weight: 800;
        color: $colorBlack;
        padding-top: 20px;
    }
    &-description{
        margin-top: 20px;
        line-height: 1.5;
        color: $colorBlack;
        font-size: 14px;
        position: relative;
    }
    &-footer{
        text-align: center;
        padding: 20px 0px;
    }
    &-more{
        display: inline-block;
        color: $colorGreen;
        font-size: 13px;
        &:hover{
            text-decoration: underline;
        }
    }

    &Skeleton{
        padding: 20px;
        background-color: #fcfbf9;
        &-wrapper{
            width: 50%;
            float: left;
            padding: 0px 8px;
            box-sizing: border-box;
            margin-bottom: 16px;
        }
        &-title{
            background-color: $colorSkeleton;
            width: 30%;
            height: 18px;
        }
        &-description{
            margin-top: 20px;
            p{
                height: 13px;
                background-color: $colorSkeleton;
                margin-top: 5px;
                &:last-child{
                    width: 80%;
                }
            }
        }
        &-more{
            height: 13px;
            background-color: $colorSkeleton;
            width: 70px;
            display: block;
            margin: 20px auto 0px auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .projectItem{
        &-wrapper{
            width: 100%;
        }
        &-title{
            font-size: 16px;
        }
        &-description{
            font-size: 13px;
            line-height: 1.5;
            margin-top: 5px;
        }
        &-more{
            margin-top: 5px;
        }
        &-footer{
            padding: 15px 0px;
        }


        &Skeleton{
            &-wrapper {
                width: 100%;
            }
            &-description {
                margin-top: 5px;
            }
            &-more{
                margin-top: 15px;
            }
        }
    }
}