<h1>美图美肤管家服务协议</h1>
<p >欢迎您使用美图美肤管家！</p>
<p>特别提醒：在您（下或称“用户”）开始阅读并决定是否接受《美图美肤管家服务协议》（“本协议”）之前，<span class="bold underline">美图美肤管家公司特别提醒您仔细阅读并留意本协议中加粗并以下划线提示的免除或者限制美图美肤管家公司责任或者加重您义务的内容，未成年人用户请在法定监护人陪同下仔细阅读本协议并决定是否接受本协议。若您同意本协议，您可以开始使用美图美肤管家。</span></p>
<p>基于美图美肤管家提供的产品及服务，您可以申请使用由第三方提供的产品或服务（例如：皮肤宝）。<span class="bold underline">鉴于本协议不适用于任何其他第三方向您提供的产品或服务，若需开通和使用该产品或服务，</span>请关注第三方产品或服务的服务协议（例如：皮肤宝《用户使用协议》）。</p>
<p>1.本协议的范围：本协议是您与美图美肤管家公司及其相关服务可能存在运营关联公司（“关联公司”）之间关于您使用美图美肤管家所订立的协议。本协议的内容同时包括<span class="red">《美图帐号规则》</span>与<span class="red">《隐私政策》</span>。<span class="bold underline">美图美肤管家公司及其关联公司可能根据自身对商业、法律与政策等要素的判断，随时更新本协议。未经您明确同意，我们不会削减您按照本协议享有的合法权利。</span></p>
<p>2.用户信息与个人信息保护：保护您的用户信息与个人信息是美图美肤管家公司及其关联公司的一项基本原则。您同意，美图美肤管家公司及其关联公司将按照本协议及<span class="red">《隐私政策》</span>的规定收集、使用、存储、管理和保护您的用户信息与个人信息。</p>

<p>3.美图帐号与安全：为更好地使用美图美肤管家，您可自行注册美图帐号或者在使用其他方式登录情况下随机生成美图帐号；关于您使用美图帐号的具体规则，请遵守<span class="red">《美图帐号规则》</span>规定。请您在获得美图帐号后自行妥善保管帐号及密码或者其他登录方式下的帐号及密码；因您保管不善可能导致美图帐号与密码失窃、帐号被盗用等情况，责任由您自行承担。您可根据《美图帐号规则》规定随时终止您的帐号，美图美肤管家公司也将根据《美图帐号规则》规定管理您的帐号。</p>

<p>4.用户使用方式：您同意按照本协议约定方式合理合法地使用美图美肤管家。您可以通过美图美肤管家的主页面提示，连接/更换连接您购买的meituspa洁面仪、meitukey皮肤检测仪等设备。连接后使用皮肤检测仪检测皮肤，可根据检测结果生成相关报告，查看皮肤详情；连接洁面仪后可查看洁面仪的功能状态，并根据需要设置洁面提醒时间。</p>

<p class="bold underline">5.您的必要授权与同意：您通过美图美肤管家检测到的皮肤数据（该数据无法识别特定的用户个人，以下统称“用户信息”）中所含有的所有权归您所有。您同意授予美图美肤管家公司一项为提供本服务、优化本服务和宣传推广本服务之目的所必须的免费、非独占、使用、存储、管理和保护您在本服务过程中产生的用户信息。美图美肤管家公司将根据<span class="red">《隐私政策》</span>并尽最大努力在合理范围内使用用户信息，且您的必要授权与同意并不代表美图美肤管家公司对用户信息的必然使用，也不改变您对用户信息的所有权及其知识产权归属，更不影响您对用户信息任何合法使用。</p>

<p>6.用户使用行为规范：您应对使用美图美肤管家的行为负责。您同意严格遵守本协议内容，并依据国家相关法律法规规章制定，严格遵守以下义务：<br />
（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；<br />
（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；<br />
（3）不得利用本客户端从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；<br />
（4）不得干扰本客户端的正常运转，不得侵入本客户端及国家计算机信息系统；<br />
（5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；<br />
（6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；<br />
（7）不得教唆他人从事本条所禁止的行为；<br />
（8）不得利用在本客户端注册的账户进行牟利性经营活动；<br />
（9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容。
</p>

<p class="bold underline">若您违反本协议，您同意美图美肤管家公司有权根据自身的判断或法律与政策的需要，自主决定并可在不预先通知您的情况下，全部或者部分地选择：（1）暂停或终止对您的软件使用许可并停止相应技术服务，采取包括但不限于限制、冻结或终止美图帐号使用措施，并由您自行承担美图帐号无法使用后果；和（2）诉诸行政执法机构或者司法机关，以追究相应法律责任。若因您违反本协议导致任何第三方损害的（含美图美肤管家公司及其关联公司），您应当独立承担责任；美图美肤管家公司及其关联公司遭受损失的，您也应当一并赔偿。</p>

<p>7.投诉举报处理：美图美肤管家公司倡议您共同参与维护及监督美图美肤管家使用环境的合规与清洁。无论是美图美肤管家公司主动发现用户的不当、违法行为，或者是美图美肤管家公司根据举报、投诉并初步查实用户存在不当、违法行为，美图美肤管家公司均有权立即在无事先通知的情况下采取必要的措施以制止该等行为的继续进行。</p>

<p>8.广告：美图美肤管家中可能包括广告，这属于美图美肤管家公司及其关联公司合理合法的商业模式，您同意在使用美图美肤管家过程中接收由美图美肤管家公司及其关联公司或者其第三方合作伙伴发布的广告信息。美图美肤管家公司及其关联公司依照法律的规定对广告信息发布履行相关义务后，<span class="bold underline">您应当自行判断广告信息的真实性并为自己的判断行为负责，除法律明确规定外，您因依该广告信息进行的交易或广告主提供的内容而遭受的损失或损害，美图美肤管家公司及其关联公司不承担责任。</span></p>

<p>9.知识产权声明：美图美肤管家本身自带的所有版本、技术、程序、和所有的信息内容（“美图美肤管家信息内容”，包括但不限于产品功能、用户界面、操作步骤、商标、专利、计算机软件作品等）的知识产权均归美图美肤管家公司、美图美肤管家公司许可方或美图美肤管家公司关联公司所有，美图美肤管家公司及其关联公司对您的软件使用许可在任何情况下均不应视为向您转让其知识产权的部分或者全部。</p>

<p>10.第三方服务：美图美肤管家中部分服务由第三方提供（例如：皮肤宝。您使用美图美肤管家生成您的皮肤状况报告后，若您希望在线获取免费/有偿的皮肤咨询时，您可选择使用皮肤宝提供的服务。当页面跳转至皮肤宝平台后，请您关注皮肤宝的相关服务条款）。您理解，美图美肤管家公司是中立平台的提供者，第三方服务由该第三方独立运营并独立承担全部责任。因该第三方服务或其使用您的信息产生的纠纷，或第三方服务违反相关法律法规或本协议约定，或您在使用第三方服务过程中遭受的损失，请您和第三方协商解决。</p>

<p>11.不可抗力与其他免责事由：美图美肤管家在使用中会受到包括但不限于如下不可抗力或者其他因素的影响：政治原因、社会环境、自然灾害、经济危机、计算机病毒或黑客攻击、服务器或系统不稳定、您所在的特殊位置、任何技术能力、网络质量以及通信线路、计算机故障等（以下统称“免责事由”）。若出现上述免责事由情况时，美图美肤管家公司将尽努力在第一时间进行修复或者及时补救，给您造成损失的，美图美肤管家公司在法律与政策允许的范围内免责。</p>

<p class="bold underline">12.责任限制：美图美肤管家所提供的任何信息，包括但不限于妆容报告、皮肤报告。该报告仅供您个人参考，不能替代专业医生和其他医务人员的建议。<span class="bold underline">若您自行使用美图美肤管家中的报告所产生的偏差效果，美图美肤管家公司在法律与政策允许的范围内不承担任何责任。</span></p>

<p>13.美图美肤管家变更、中断与终止：除本协议其他约定外，美图美肤管家公司及其关联公司还有权根据自己独立商业判断对美图美肤管家内容进行变更、中断或终止。<span class="bold underline">除其他协议另有规定外，美图美肤管家公司不对相应变更、中断或终止承担任何责任，您应妥善做好数据更新、备份与转移工作。</span></p>

<p>14.适用法律与纠纷管辖：本协议成立、生效、履行、解释及纠纷解决，均适用中华人民共和国大陆地区法律（不包括冲突法）。本协议签订地为中华人民共和国福建省厦门市思明区。<span class="bold underline">若在您与美图美肤管家公司及其关联公司之间发生的任何纠纷或争议，您同意将该纠纷或者争议提交被告住所地有管辖权的人民法院排他管辖。本协议条款无论何种原因部分无效或不可执行，其他条款仍应继续有效，对双方具有约束力。</span></p>

<p>15．定义及其他<br/>
（1）“美图美肤管家”是指美图美肤管家公司及其关联公司开发、运营、管理的一款应用软件产品，旨在为您提供本协议范围内免费、非独占和全球范围内的软件使用许可及技术服务。本协议项下的“美图美肤管家”根据不同的语境将可能指美图美肤管家移动端、美图美肤管家公司为美图美肤管家设立的独立网站或者美图美肤管家公司围绕美图美肤管家软件产品提供的相关技术服务。<br />
（2）“美图美肤管家公司”指厦门美图网科技有限公司。</p>
