.btn{
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: none;
    outline: 0;
    transition: all 300ms;
    &:hover{
        opacity: .8;
    }
    &-primary{
        background-color: $colorBlack;
        color: #ffffff;
    }
    &--disable {
        background-color: $colorBlack;
    }
    &--small{
        font-size: $fontSizeL;
        padding: 12PX 20PX;
    }
    &--large{
        font-size: $fontSizeL;
        padding: 12PX 20PX;
    }
}