$marginSize: 50px;
.detail{
    &-bg{
        position: fixed;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    &-mask{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(12, 12, 14);
        opacity: .45;
    }
    &-container{
        max-width: $globalMobileWidth;
        margin: 0px auto;
        position: relative;
        z-index: 2;
        padding-top: 200px;
        padding-bottom: $marginSize;
    }

    &-title{
        font-size: 40px;
        font-weight: 600;
        color: $colorWhite;
        margin: 0px auto;
        text-align: center;
        padding-bottom: $marginSize;
        position: relative;
        line-height: 1.4;
        &:after{
            content: '';
            display: block;
            border: 1px solid $colorWhite;
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 100px;
            margin-left: -$marginSize;
        }
    }
    &-info{
        padding: $marginSize 0px $marginSize 60px;
        color: $colorWhite;
        line-height: 1.5;
        position: relative;
        display: table;
        width: 100%;
        box-sizing: border-box;
    }
    &-user{
        display: table-cell;
        vertical-align: middle;
        height: $marginSize;
    }
    &-avatar{
        position: absolute;
        top: $marginSize;
        left: 0px;
        width: $marginSize;
        height: $marginSize;
    }
    &-imgWrapper {
        display: block;
        position: relative;
        @keyframes keyframeFade {
            from {
                opacity: 0.1;
            }
            to {
                opacity: 0.5;
            }
        }
        @keyframes keyframeFadeOut {
            from {
                opacity: 0.5;
            }
            to {
                opacity: 0;
            }
        }
        &:before{
            content: '';
            background-color: currentColor;;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            animation: keyframeFade ease-in-out infinite 1s forwards alternate;
        }
        &.loaded{
            &:before{
                // animation: keyframeFadeOut ease-in-out forwards;
                display: none;
            }
        }
    }
    &-photo{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

    &-content{
        font-size: 16px;
        line-height: 1.8;
        color: $colorBlack;
        background-color: $colorWhite;
        padding: $marginSize;
        img{
            display: block;
            width: 100% !important;
        }
        blockquote, img{
            margin-bottom: 15px;
        }
        ul{
            margin-left: 10px;
            margin-bottom: 15px;
        }
        h2{
            font-weight: 800;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        a{
            color: $colorPrimary;
            text-decoration: underline;
        }
        img{
            width: 100%;
        }
    }
    &-discuss{
        background-color: $colorWhite;
        padding: 60px;
    }
}

.detailSkeleton{
    padding-top: 200px;
    padding-bottom: 50px;
    max-width: $globalMobileWidth;
    margin: 0px auto;
    &-wrapper{
        background-color: $colorWhite;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 3;
    }
    &-title{
        position: relative;
        padding-bottom: $marginSize;
        p{
            width: 400px;
            height: 40px;
            background-color: $colorSkeletonDark;
            margin: 0px auto;
            margin-top: 11px;
        }
        &:after{
            content: '';
            display: block;
            border: 1px solid $colorSkeletonDark;
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 100px;
            margin-left: -50px;
        }
    }

    &-info{
        padding: 50px 0px 50px 60px;
        position: relative;
    }
    &-avatar{
        position: absolute;
        top: $marginSize;
        left: 0px;
        width: $marginSize;
        height: $marginSize;
        background-color: $colorSkeletonDark;
    }
    &-user{
        display: table-cell;
        vertical-align: middle;
        height: $marginSize;
    }
    &-author{
        height: 16px;
        width: 50px;
        background-color: $colorSkeletonDark;
    }
    &-date{
        height: 16px;
        width: 100px;
        background-color: $colorSkeletonDark;
        margin-top: 5px;
    }
    &-photolist{
        background-color: $colorSkeletonDark;
        height: 500px;
    }
    &-content{
        padding: 50px;
        p{
            background-color: $colorSkeletonDark;
            width: 100%;
            height: 16px;
            margin-top: 10px;
            &:last-child{
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .detail {
        padding-top: 48px;
        &-bg {
            display: none;
        }
        &-mask{
            display: none;
        }
        &-container{
            padding: 0px;
        }
        &-title{
            color: $colorBlackLite;
            font-size: 22px;
            text-align: left;
            padding: 20px 20px 0px 20px;
            font-weight: normal;
            br{
                display: none;
            }
        }
        &-info{
            padding: 20px 20px 20px 70px;
            color: $colorBlackLite;
        }
        &-avatar{
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
        }
        &-user{
            height: 40px;
            font-size: 12px;
        }

        &-content{
            padding: 10px 20px;
            color: #333;
            //font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
            blockquote, img, ul, h2, p{
                margin-bottom: 25px;
            }
            h2{
                font-size: 16px;
            }
            blockquote{
                padding: 10px 10px 10px 12px;
            }
        }
        &-discuss{
            padding: 24px;
        }
    }

    .detailSkeleton{
        padding-top: 50px;
        &-wrapper {
        }
        &-title{
            padding: 20px 20px 0px 20px;
            p{
                width: 100%;
                height: 24px;
                margin-top: 5px;
                margin-left: 0px;
                &:last-child{
                    display: none;
                }
            }
            &:after{
                display: none;
            }
        }
        &-info{
            padding: 20px 20px 20px 70px;
        }
        &-avatar{
            top: 20px;
            width: 40px;
            height: 40px;
            left: 20px;
        }
        &-user{
            height: 40px;
        }
        &-photolist{
            padding-bottom: 100%;
            display: none;
            height: auto;
        }
        &-content{
            padding: 20px;
            p{
                margin-bottom: 10px;
            }
        }
    }
}