$marginSize: 50px;
.detail{
    &-bg{
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: url(https://z1.muscache.cn/4ea/air/c:w9-h16-go,r:w1080-h1920-sfit,e:fjpg-c75/pictures/309559e3-d8f6-487a-b658-c1c21f3bc86c.jpg);
        background-size: cover;
        background-position: center;
    }
    &-mask{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(12, 12, 14);
        opacity: 0.7;
    }
    &-container{
        width: $globalMobileWidth;
        margin: 0px auto;
        position: relative;
        z-index: 2;
        padding-top: 200px;
        padding-bottom: $marginSize;
    }

    &-title{
        font-size: 40px;
        font-weight: 600;
        color: $colorWhite;
        margin: 0px auto;
        text-align: center;
        padding-bottom: $marginSize;
        position: relative;
        line-height: 1.4;
        &:after{
            content: '';
            display: block;
            border: 1px solid $colorWhite;
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 100px;
            margin-left: -$marginSize;
        }
    }
    &-info{
        padding: $marginSize 0px $marginSize 60px;
        color: $colorWhite;
        line-height: 1.5;
        position: relative;
        display: table;
        width: 100%;
        box-sizing: border-box;
    }
    &-user{
        display: table-cell;
        vertical-align: middle;
        height: $marginSize;
    }
    &-avatar{
        position: absolute;
        top: $marginSize;
        left: 0px;
        width: $marginSize;
        height: $marginSize;
    }
    &-photo{
        display: block;
        max-width: 100%;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
  
    &-content{
        font-size: 16px;
        line-height: 1.5;
        color: $colorGray;
        font-weight: 300;
        background-color: $colorWhite;
        padding: $marginSize;
        p{
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    &-toolbar{
        text-align: center;
        margin-top: $marginSize;
    }
    &-likecount{
        color: $colorWhite;
        margin-bottom: 20px;
        mark{
            background-color: $colorOrange;
        }
    }
    &-like{
        box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px;
        &:hover{
            transform: translate3d(0px, -1px, 0px);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
        }
    }
}