.home{
    &Slogan{
        text-align: center;
        padding: 120px 0px;
        background-image: url(//assets.shuxia123.com/images/home-banner.png);
        background-color: #3f3f3f;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $colorWhite;
        &-content{
            max-width: $globalMobileWidth;
            margin: 0px auto;
            color: #e5895f;
            font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
        }
        &-title{
            font-size: 35px;
        }
        &-subtitle{
            font-size: 25px;
            margin-top: 30px;
        }
        &-author{
            text-align: right;
            margin-top: 12px;
        }
    }
    &Recommend{
        padding: 50px 0px;
        &-project{
            border-bottom: 1px solid #f0f0f0;
            border-top: 1px solid #f0f0f0;
        }
        &-content{
            max-width: $globalPcWidth;
            margin: 0px auto;
        }
        &-title{
            font-size: 30px;
            color: $colorBlack;
            padding-left: $paddingSizeHalf;
            font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
        }
        &-subtitle{
            color: $colorBlack;
            font-size: 16px;
            margin-bottom: 30px;
            margin-top: 5px;
            padding-left: $paddingSizeHalf;
        }
        &-more{
            text-align: center;
            margin-top: 30px;
        }
        &-projectList{
            .projectItem-wrapper{
                &:nth-child(3), &:nth-child(4){
                    margin-bottom: 0px;
                }
            }
        }
        &-item{
            display: inline-block;
            margin-right: 30px;
            font-size: 14px;
            line-height: 20px;
            border: 0.5px solid rgb(216, 216, 216);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
            color: rgb(72, 72, 72);
            transition: all .2s ease;
            border-radius: 3px;
            box-sizing: border-box;
            height: 48px;
            padding: 14px 20px;
            &:hover{
                background-color: $colorBlackHover;
            }
            &:active{
                background-color: $colorBlackActive;
            }
        }
    }
}
@supports (-webkit-background-clip: text) {
    .homeSlogan-content {
        p{
            background-clip: text;
            color: transparent !important;
            background-image: url(//assets.shuxia123.com/images/text-bg.jpg);
            background-size: cover;
            animation: backgroundMove 10s linear infinite alternate;
        }
    }
}
@media screen and (max-width: 768px) {
    .home {
        &Slogan{
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            background-size: cover;
            background-position: center;
            &-content{
                width: 100%;
                box-sizing: border-box;
                background-repeat: no-repeat;
                padding: 0px 30px;
            }
            &-subtitle{
                text-align: left;
            }
            &-author{
                text-align: right;
                font-size: 20px;
                margin-top: 30px;
            }
        }
        &Recommend{
            padding: 30px 0px;
            &-title{
                font-size: 20px;
            }
            &-subtitle{
                font-size:12px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            &-more{
                margin-top: 20px;
                padding: 0px 24px;
                .btn{
                    width: 100%;
                    box-sizing: border-box;
                    height: 40px;
                    line-height: 40px;
                    border-color: $colorPrimary;
                    color: $colorPrimary;
                }
            }
            &-projectList{
                .projectItem-wrapper{
                    margin-bottom: 10px !important;
                    &:last-child{
                        margin-bottom: 0px !important;;
                    }
                }
            }
            &-demoList{
                padding: 0px 8px;
            }
        }

        .articleItem{
            margin-bottom: 20px;
            &:nth-child(3), &:nth-child(4) {
                margin-bottom: 0px;
            }
        }
    }
}