.home{
    &Slogan{
        text-align: center;
        padding: 200px 0px;
        background-image: linear-gradient(80deg, #00857a, #006a75) !important;
        color: $colorWhite;
        font-family: coofont;
        &-title{
            font-size: 35px;
            font-weight: 300;
        }
        &-subtitle{
            font-size: 25px;
            font-weight: 300;
            margin-top: 30px;
            mark{
                background-color: rgba(250, 221, 77, 0.664);
                color: $colorWhite;
                display: inline;
                padding: 0px 5px;
            }
        }
    }
    &Recommend{
        padding: 50px 0px;
        &-project{
            // background-color: #fcfcfc;
            border-bottom: 1px solid #f0f0f0;
            border-top: 1px solid #f0f0f0;
        }
        &-content{
            width: $globalPcWidth;
            margin: 0px auto;
        }
        &-title{
            font-size: 30px;
            text-align: center;
        }
        &-subtitle{
            text-align: center;
            color: $colorGray;
            font-size: 14px;
            margin-bottom: 50px;
            margin-top: 10px;
        }
        &-list{
            display: flex;
            justify-content: space-between;
        }
        &-more{
            text-align: center;
            margin-top: 50px;
        }
        &-line{
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        &-item{
            display: inline-block;
            padding: 0px 30px;
            margin-right: 30px;
            font-size: 16px;
            line-height: 32px;
            height: 32px;
            border: 2px solid $colorBlack;
            color: $colorBlack;
            transition: all .2s ease;
            &:hover{
                background-color: $colorBlackHover;
            }
            &:active{
                background-color: $colorBlackActive;
            }
        }
    }
}