.home{
    &Slogan{
        text-align: center;
        padding: 200px 0px;
        background-color: #f2f2f2;
        &-title{
            font-size: 30px;
            font-weight: 300;
            font-family: coofont;
        }
        &-subtitle{
            font-size: 20px;
            font-weight: 300;
            margin-top: 30px;
            color: $colorGray;
            mark{
                background-color: rgba(249,217,66,.4);
            }
        }
    }
    &Recommend{
        padding: 50px 0px;
        // background-color: #f29aaa;
        &-content{
            width: $globalPcWidth;
            margin: 0px auto;
        }
    }
}