body{
    // background-color: #fafafa;
}
.idea{
    &Slogan{
        text-align: center;
        padding: 200px 0px;
        // background-image: linear-gradient(80deg, #00857a, #006a75) !important;
        background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
        color: $colorWhite;
        font-family: coofont;
        &-title{
            font-size: 35px;
            font-weight: 300;
        }
        &-subtitle{
            font-size: 25px;
            font-weight: 300;
            margin-top: 30px;
            mark{
                background-color: rgba(250, 221, 77, 0.664);
                color: $colorWhite;
                display: inline;
                padding: 0px 5px;
            }
        }
    }

    &-list{
        width: $globalMobileWidth;
        margin: 0px auto;
        position: relative;
        list-style: none;
        margin-top: -40px;
        padding-bottom: 20px;
    }
    &-item{
        background-color: #fafafa;
        padding: 20px 30px;
        border-bottom: 1px solid #bbbbbb;
        border-radius: 4px;
        margin-bottom: 20px;
        opacity: 0;
        transform: translate3d(50px, 0px, 0px);
        animation-name: slideInLeft;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        &:last-child{
            margin-bottom: 0px;
        }
        @for $i from 1 to 10 {
            &:nth-child(#{$i}) {
                animation-delay: (-2 + $i) * 200ms;
            }
        }
    }
    &-title{
        font-size: 18px;
        &:hover{
            text-decoration: underline;
        }
    }
    &-info{
        color: $colorGrayLite;
        margin-top: 10px;
    }
    &-description{
        line-height: 1.5;
        color: $colorGray;
        margin-top: 10px;
    }
    &-more{
        display: inline-block;
        margin-top: 10px;
        color: $colorBlack;
        &:hover{
            text-decoration: underline;
        }
    }
}