<div class="section section--magazines">
    <div class="section-wrapper">
        <div class="magazines-content">
        <h1 class="magazines-title">杂志栏目 2.0</h1>
        <div class="magazines-description">这个模块的样式独立，从命名冲突的烦恼中跳出来吧！</div>
            <a href="javascript:;" class="btn btn-primary btn-large">立即了解</a>
        </div>
    </div>
</div>