<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title">手势应用</h1>
        <p class="introduction-description">应用好手势，让你的应用更加有趣生动</p>
        <p class="introduction-description">请切换调试器到<i>移动端模式</i>演示</p>
    </div>
</div>

<section class="box">
    <h2 class="box-title">作图</h2>
    <p class="box-description">有空吗？来，一起来作张图吧！</p>
    <div class="box-show">
        <div class="bags">
  
        </div>
        <button class="globalBtn globalBtn-primary btn-add">添加一个</button>
        <button class="globalBtn globalBtn-primary btn-clear">长按清除</button>
        <p class="addons">(试一下，请切换到移动端模式，最多添加5个)</p>
    </div>
</section>

<section class="box box--even">
    <h2 class="box-title">怎么实现？</h2>
    <p class="box-description">功能应用了三角函数和矩阵matirx的知识，触屏事件用了touchjs</p>
    <div class="box-show">
            <a href="https://github.com/coocssweb/me.shuxia123.com/blob/master/mpa-typescript/src/pages/gesture/element.ts" class="globalBtn globalBtn-primary">主要源码</a>
            <a href="https://github.com/Clouda-team/touchjs" class="globalBtn globalBtn-primary">touchjs</a>
    </div>
</section>
<script type="text/javascript" src="//www.shuxia123.com/lib/jquery.min.js"></script>
<script type="text/javascript" src="//www.shuxia123.com/lib/touchjs.js"></script>
