<div class="introduction">
    <div class="introduction-content">
        <h1 class="introduction-title">手势应用</h1>
        <p class="introduction-description">应用好手势，让你的应用更加有趣生动</p>
        <p class="introduction-description">请切换调试器到<i>移动端模式</i>演示</p>
    </div>
</div>

<section class="box">
    <h2 class="box-title">作图</h2>
    <p class="box-description">有空吗？来，一起来作张图吧！</p>
    <div class="box-show">
        <div class="bags">
  
        </div>
        <button class="globalBtn globalBtn-primary btn-add">添加一个</button>
        <button class="globalBtn globalBtn-primary btn-clear">清除所有</button>
        <p class="addons">(试一下，最多添加5个)</p>
    </div>
</section>

<section class="box">
    <h2 class="box-title">长按</h2>
    <p class="box-description">试一下长按2秒钟</p>
    <div class="box-show">
        
    </div>
</section>

<section class="box">
    <h2 class="box-title">很麻烦吗？</h2>
    <p class="box-description">对，很麻烦，那么试一下snap.svg吧！</p>
    <div class="box-show">
            <a href="http://snapsvg.io/" class="globalBtn globalBtn-primary">snap.svg</a>
    </div>
</section>
<script type="text/javascript" src="https://h5.meitu.com/meitu_mall/love_christmas/dist/lib/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="//www.shuxia123.com/lib/touchjs.js"></script>
